*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem ;
    font-family: 'Roboto Condensed', sans-serif;

}
:root{
    --white-color: #fff;
    --black-color: #333;
    --grey-color: #73777B;
    --blue-color: #54bab9;
    --red-color: #f97150;
    --black-color-2:#383838;
    --yellow-color: #ffa11a;
}
/*Header first*/
.header-first{
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 62px;
    border-bottom: 1px solid rgba(115, 119, 123, 0.4);
}
.header-first__icon{
    font-size: 1.5rem;
    color: var(--grey-color);
    margin: 0px 0px 0px 10px;
}
.header-first__text{
    font-size: 1.5rem;
    color: var(--grey-color);
    font-weight: 300;
    margin: 0 10px;
}
/*Header-second*/
.header-second{
    display: flex;
    justify-content: space-between;
    
}
.header-second-fullbackground{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(140, 140, 140,0.05); 
}
/*body*/
.body{
    width: 100%;
}
/*footer*/
.footer{
    margin-top:100px;
    width: 100%;
}
/*animation section four*/
@keyframes zoom-in {
    from{
        background-size: 100%;
    }
    to{
        background-size: 110%;
    }
}